# Supabase
VITE_SUPABASE_URL=https://rfiurmccfgshlabpyqps.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJmaXVybWNjZmdzaGxhYnB5cXBzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODYzNjgxNzQsImV4cCI6MjEwMTk0NDE3NH0.zlOrNqirNh-ENYlIRWRfmzw-E8aqadxhRsR_WFMANgo

# App
VITE_APP_NAME=FieldStaff Manager
